<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/public/css/styles.css" rel="stylesheet" type="text/css">

</head>

<body>
    <h1>URL Shortener</h1>
    <% if (locals.id) { %>
        <p>URL GENEREATED - http://localhost:3004/url/<%= id %>
        </p>
        <% } %>
            <div>
                <form method="POST" action="/url">
                    <label>Enter you original url</label>
                    <input type="text" , name="url" , placeholder="https://example.com" />
                    <button type="submit">Generate</button>
                </form>
            </div>

</body>

</html>